# Node.js dependencies
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/
.out/
.next/
coverage/

# Temporary files
tmp/
temp/
*.tmp
*.swp

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo
