@mixin media-1350 {
  @media (max-width: 1350px) {
    @content;
  }
}

@mixin media-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin media-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-420 {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin flex {
  display: flex;
  align-items: center;
}
