@import 'custom-media.scss';

.footer {
  border-top: 1px solid lightblue;
  @include padding(31px, 31px);

  @include media-1350 {
    @include padding(20px, 20px);
  }
}

.footer__content {
  @include flex;
  justify-content: space-between;

  @include media-1200 {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  @include media-768 {
    gap: 20px;
  }
}

.footer__list-contact {
  @include flex;
  flex-direction: column;
  gap: 15px;
  min-width: 595px;
}

.footer__logo-box {
  min-width: 183px;

  @include media-420 {
    min-width: inherit;
    max-width: 120px;
  }
}

.footer__item-contact {
  font-size: 3rem;
  line-height: 1.13;
  letter-spacing: 0.07em;
  color: #ff0000;

  @include media-1350 {
    font-size: 2.5rem;
  }
  @include media-992 {
    font-size: 2rem;
  }
  @include media-768 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
  }
}
