@import 'custom-media';

@font-face {
  font-family: georgia;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/georgia700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: georgia;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/georgia400.woff') format('woff');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: georgia, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include media-1350 {
    width: 90%;
  }

  @include media-992() {
    width: 95%;
  }
}
