.nav {
  display: none;
  position: absolute;
  right: -250px;
  transition: 0.5s;
  background-color: lightblue;
  padding: 20px;
}

.menu-open {
  right: 0;
  display: block;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 29px;
  text-align: center;
  justify-content: center;
}
