@import 'custom-media.scss';

.payment {
  border-bottom: 1px solid lightblue;

  @include padding(57px, 64px);

  @include media-1350 {
    @include padding(40px, 40px);
  }
  @include media-992 {
    @include padding(20px, 20px);
  }
}

.payment__title {
  font-size: 4rem;
  line-height: 1.12;
  color: #ff0000;
  text-align: center;
  margin-bottom: 63px;

  @include media-1350 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  @include media-1200 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  @include media-992 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  @include media-420 {
    font-size: 1.8rem;
  }
}

.payment__container {
  display: flex;
  gap: 130px;

  @include media-1200 {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }

  @include media-992 {
    gap: 40px;
  }

  @include media-420 {
    gap: 20px;
  }
}

.payment__list {
  width: 731px;
  @include flex;
  flex-direction: column;
  gap: 15px;

  @include media-1200 {
    width: 100%;
  }
}

.payment__item {
  font-size: 2.6rem;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  color: #05489e;

  @include media-1350 {
    font-size: 2rem;
  }

  @include media-992 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
    line-height: 1;
  }
}

.payment__item-blue {
  font-size: 3rem;
  line-height: 1.23;
  letter-spacing: 0.03em;
  color: #05489e;

  @include media-1350 {
    font-size: 2.5rem;
  }
  @include media-1200 {
    font-size: 2rem;
  }
  @include media-992 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
    line-height: 1;
  }
}

.payment__img {
  display: block;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

.payment__arrow {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  @include media-768 {
    display: none;
  }
}

.payment__list-transfer {
  width: 517px;
  display: flex;
  flex-direction: column;
  gap: 84px;

  @include media-1200 {
    width: 100%;
    gap: 50px;
  }
  @include media-992 {
    gap: 40px;
  }
  @include media-768 {
    gap: 20px;
  }
}

.payment__item-transfer {
  font-size: 2.6rem;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #05489e;

  @include media-1350 {
    font-size: 2rem;
  }
  @include media-992 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
    line-height: 1;
  }
}

.payment__item-transfer-underline {
  font-size: 2.6rem;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #05489e;

  @include media-1350 {
    font-size: 2rem;
  }
  @include media-992 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
    line-height: 1;
  }
}
