@import 'custom-media.scss';

.reviews {
  border-bottom: 1px solid lightblue;

  @include padding(48px, 121px);

  @include media-1350 {
    @include padding(30px, 100px);
  }
  @include media-992 {
    @include padding(20px, 50px);
  }
  @include media-768 {
    @include padding(20px, 20px);
  }
}

.reviews__title {
  font-size: 3rem;
  line-height: 1.13;
  letter-spacing: 0.07em;
  color: #ff0000;
  margin-bottom: 84px;
  text-align: center;

  @include media-1350 {
    font-size: 2.5rem;
    margin-bottom: 60px;
  }
  @include media-1200 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  @include media-768 {
    margin-bottom: 20px;
  }
  @include media-420 {
    font-size: 1.8rem;
    line-height: 1;
  }
}
