@import "custom-media.scss";

.about {
  @include padding(41px, 80px);
  background-color: white;
  background: left bottom no-repeat url("assets/plant.png"),
    right top no-repeat url("assets/plant2.png");
  @include media-1350 {
    @include padding(20px, 40px);
  }

  @include media-992 {
    @include padding(20px, 20px);
  }

  @include media-768 {
    background-image: none;
  }
}

.about__title {
  font-size: 3.5rem;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #ff0000;
  text-shadow: 0px 4px 4px #00000040;
  text-align: center;
  margin-bottom: 50px;

  @include media-1350 {
    margin-bottom: 40px;
    font-size: 3rem;
  }
  @include media-1200 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  @include media-992 {
    font-size: 2rem;
    line-height: 1;
  }
  @include media-420 {
    font-size: 1.8rem;
  }
}

.about__content {
  @include flex;
  flex-direction: column;
  gap: 20px;

  @include media-768 {
    flex-direction: column;
    gap: 20px;
  }
}

.about__img-box {
  width: 512px;
  align-self: baseline;

  @include media-768 {
    align-self: center;
    width: 400px;
  }
  @include media-420 {
    width: 300px;
  }
}

.about__img {
  width: 100%;
}

.about__list {
  @include flex;
  flex-direction: column;
  width: 773px;
  gap: 50px;

  @include media-992 {
    width: 100%;
    gap: 40px;
  }
  @include media-768 {
    gap: 20px;
  }
}

.about__item {
  font-size: 2.6rem;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #000000;
  text-shadow: 0px 4px 4px #00000040;

  @include media-1350 {
    font-size: 2rem;
  }
  @include media-992 {
    font-size: 1.8rem;
  }
  @include media-420 {
    font-size: 1.4rem;
  }
}

.about__item-blue {
  color: #05489e;
}
