@import "custom-media";

.apps {
  @include padding(110px, 110px);
background: url("./assets/Points.png") no-repeat right top;
}

.apps__container {
  display: flex;
  align-items: center;
  gap: 72px
}

.apps__text-box {
  width: 420px;
  background: url("./assets/line.png") no-repeat left 33%;
}

.apps__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.33;
  margin-bottom: 63px;
}

.apps__text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #7D7987;
  margin-bottom: 40px;
}
