.hero__btn {
  display: inline-block;
  border-radius: 10px;
  padding: 13px;
  font-size: 2.4rem;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: #d8c97c;
  color: #05489e;
  border: 1px solid #05489e;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  @include media-1350 {
    font-size: 2rem;
    padding: 10px;
  }

  @include media-992 {
    font-size: 1.8rem;
    line-height: 1;
  }
  @include media-420 {
    font-size: 1rem;
  }
}

.hero__btn:hover {
  background: #d8c97c;
  box-shadow: 0 15px 20px #1e1f1e66;
  color: white;
  transform: translateY(-7px);
}

.burger {
  position: absolute;
  right: 110px;

  @include media-1350 {
    position: initial;
    @include flex;
  }
}

.burger-button {
  padding: 5px;
  display: none;

  @include media-1200 {
    display: inline-block;
  }
  @include media-420 {
    max-width: 40px;
    max-width: 40px;
  }
}

.burger-button img {
  width: 100%;
}

.burger-button-open {
  box-shadow: 2px 2px 4px #000000;
}

.button {
  text-decoration: none;
  display: inline-block;
  width: 35px;
  height: 28px;
  border-radius: 10px;
  margin: 10px 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #524f4e;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  @include media-1350 {
    font-size: 1rem;
  }
}

.button:hover {
  background: #d8c97c;
  box-shadow: 0 15px 20px #1e1f1e66;
  color: white;
  transform: translateY(-7px);
}

.reviews__btn {
  min-width: 76px;
  padding: 38px 10px;
  border-radius: 50%;

  @include media-768 {
    display: none;
  }
}

.blogs__buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  @include media-768 {
    display: none;
  }
}

.blogs__btn {
  min-width: 102px;
  padding: 16px 20px;
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  @include media-768 {
    display: none;
  }
}
