@import "custom-media.scss";

.hero {
  background: center/ cover no-repeat url("assets/Background_hero.png");
}

.header {
  @include padding(10px, 10px);
  background: #f1c54db3;
}

.header__navigation {
  @include flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.header__logo-box {
  min-width: 183px;
}

.logo {
  width: 100%;
}

.header__list-nav {
  @include flex;
  gap: 29px;
  font-size: 2.4rem;
  line-height: 1.25;
  color: #05489e;
}
.header__item a {
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: #05489e;
  transition: 0.3s;
}

.header__item a:hover {
  background: none;
  color: white;
  transform: translateY(-7px);
}

.social-list {
  @include flex;
  gap: 17px;
}

.social-list__item a {
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
  width: 28px;
}

.social-list__item a:hover {
  background: #d8c97c;
  box-shadow: 0 15px 20px #1e1f1e66;
  color: white;
  transform: translateY(-7px);
}

.social-list__item--viber {
  display: none;
}

.social-list__img {
  width: 100%;
}
.hero__content {
  @include flex;
}
.hero__text-box {
  width: 900px;
}

.hero__photo-box {
  min-width: 450px;
  position: relative;
  right: 70px;
}

.hero__photo {
  width: 100%;
}

.hero__txt {
  font-size: 3.6rem;
  line-height: 1.13;
  letter-spacing: 0.05em;
  color: #05489e;
  margin-bottom: 12px;
}

.hero__title {
  min-width: 950px;
  font-size: 7rem;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ff0000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 86px;
}

.hero__description {
  width: 812px;
  font-size: 2.7rem;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: #05489e;
  margin-bottom: 86px;
}
