@import "reset.scss";
@import "general.scss";
@import "buttons.scss";
@import "hero.scss";
@import "about.scss";
@import "payment.scss";
@import "reviews.scss";
@import "blogs.scss";
@import "footer.scss";
@import "/node_modules/swiper/swiper-bundle.min.css";
